.ckcontent {
  font-size: 20px;
}

/* Đặt kích thước của khung để điền chữ lớn hơn */
.ckeditor__editable {
  height: 500px; /* Đặt chiều cao tối thiểu */
  font-size: 20px; /* Đặt kích thước font lớn hơn */
}
.editableElementsClass{
  height: 500px;
}